!**/bin
**/bin/*
!**/bin/*.apk
.svn
**.DS_Store
.gradle/
build/
scripts/build
scripts/script_output/
**/proguard/
**/doc
**/docs
**/scripts/script_output
samples/hello_ble/.settings/org.eclipse.jdt.core.prefs
samples/ble_util/.settings/org.eclipse.jdt.core.prefs
*.iml
.idea/
library/build
library/script_output/
local.properties
library/app.iml
sweetblue.iml
library/sweetblue-app.iml
captures/