!**/bin
**/bin/*
!**/bin/*.apk
.svn
**.DS_Store
.gradle/
build/
scripts/build
scripts/script_output/
**/proguard/
**/doc
**/docs
**/scripts/script_output
samples/hello_ble/.settings/org.eclipse.jdt.core.prefs
samples/ble_util/.settings/org.eclipse.jdt.core.prefs
*.iml
/.idea
/.idea/workspace.xml
/.idea/libraries
/.idea/runConfigurations.xml
/.idea/modules.xml
app/build
app/script_output/
local.properties
app/app.iml
sweetblue.iml
app/sweetblue-app.iml