<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.idevicesinc.sweetblue.toolbox"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.idevicesinc.sweetblue.toolbox.MainActivity" android:screenOrientation="sensorPortrait" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoggerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            </activity>
        <activity android:name=".DeviceInformationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity android:name=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity android:name=".BleServicesActivity" />
        <activity android:name=".BleCharacteristicsActivity" />
    </application>

</manifest>