<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.idevicesinc.sweetblue.toolbox"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sweetblue_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".activity.LoggerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.idevicesinc.sweetblue.toolbox.activity.MainActivity"/>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchables"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

        </activity>
        <activity android:name=".activity.DeviceInformationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.idevicesinc.sweetblue.toolbox.activity.MainActivity"/>
        </activity>
        <activity android:name=".activity.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.idevicesinc.sweetblue.toolbox.activity.MainActivity"/>
        </activity>
        <activity android:name=".activity.BleServicesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.idevicesinc.sweetblue.toolbox.activity.MainActivity"/>
        </activity>
        <activity android:name=".activity.BleCharacteristicsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.idevicesinc.sweetblue.toolbox.activity.BleServicesActivity"/>
        </activity>
        <activity android:name=".activity.WriteValueActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:configChanges="keyboard|keyboardHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.idevicesinc.sweetblue.toolbox.activity.WriteValueActivity"/>
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>